.container-about
	.row{style:"width: 100%; margin: 0px;"}
		.col-lg-6.col-md-6.col-sm-12.col-xs-12{style: "padding:0px;"}
			.text-left
				%p#negrita Gustavo Henao
				%p no es un lector de teorías,
				%p#negrita  es un TRANSFORMADOR
				%P del potencial humano
		.col-lg-6.col-md-6.col-sm-12.col-xs-12{style: "padding:0px;"}
			.text-right
				%center
					%p{style: "text-align: justify !important;"} Su inspiradora historia de superación personal es ÚNICA. Nació con labio leporino bilateral y paladar hendido, a pesar de la burlas, el rechazo y el impedimento físico para comunicarse,logró convertir su debilidad en su mayor fortaleza. Su propia vida ha sido su mejor entrenamiento en autoestima, liderazgo, confianza y Resilencia. Durante su recuperación (más de 20 procesos quirúrgicos), encontró y formuló estrategias de crecimiento personal que hoy comparte con miles de personas alrededor del mundo.
					%br
					%p{style: "text-align: justify !important;"} El gran éxito de Gustavo Henao como speaker es que no es un lector de teorías, es un TRANSFORMADOR del potencial humano. Tiene la capacidad de hacerse UNO más en las organizaciones, creando un ambiente de INSPIRACIÓN con temas que tienen implicación en nuestras vidas diarias y lo hace de una manera muy particular: con humor, reflexión y entusiasmo.	