.container-about
	.row{style:"width: 100%; margin: 0px;"}
		.col-lg-6.col-md-6.col-sm-12.col-xs-12{style: "padding:0px;"}
			.text-left
				%p#negrita Gustavo Henao
				%p no es un lector de teorías,
				%p#negrita  es un TRANSFORMADOR
				%P del potencial humano
		.col-lg-6.col-md-6.col-sm-12.col-xs-12{style: "padding:0px;"}
			.text-right
				%p Gustavo Henao es Orador y Conferencista de alto Impacto, aclamado coach en temas de crecimiento personal, motivación y Liderazgo. Fundador de la Academia de Superación & Liderazgo. Es el creador de un nuevo estilo de capacitación empresarial y desarrollo del potencial humano. 
				%br
				%p Cuenta con una amplia trayectoria en eventos empresariales, congresos Internacionales de diferentes especialidades, seminarios, entrenamientos de alto nivel, conferencias motivacionales y monólogos que combinan la comedia, la reflexión y el liderazgo integral. 		