.container-conferences
	.container-text
		%center
			%p CONFERENCIAS

.container-banner-inspiragrama
	.text
		%p CONOCER EL INSPIRAGRAMA
		= link_to "Ver más", "#", class: "btn-conferences", "data-target" => ".bs-example-modal-lg", "data-toggle" => "modal"