.container-contacts
	%center

		%h4 Estamos para ti ¡CONTACTANOS!
		
		%p SOLICITA TU CONFERENCIA AQUÍ
		.col-xs-12
			%i.fa.fa-twitter#twitter
			%i.fa.fa-instagram#instagram
			%i.fa.fa-facebook#facebook
	
		%p contacto@gustavohenao.com