.container-contacts
	%center

		%h4 Estamos para ti ¡CONTACTANOS!
		.col-xs-12
			%p SOLICITA TU CONFERENCIA AQUÍ
		.col-xs-12
			%i.fa.fa-twitter#twitter
			%i.fa.fa-instagram#instagram
			%i.fa.fa-facebook#facebook
		.col-xs-12
			%p contacto@gustavohenao.com