.container-conferences
	%center
		%p.title-section CONFERENCIAS
	.container-text
		%center
			.row{style:"width: 100%; margin: 0px;"}
				- @attachments_conferencias.each do |imageconferencias|
					.container-image
						.col-lg-4.col-md-6.col-sm-12.col-xs-12{style:"padding: 0px;"}
							%img.portada{:src => "#{imageconferencias.image}"}
							.mask
								%center
									%p.text-mask #{imageconferencias.name}
								
									
										
			

.container-banner-inspiragrama
	.text
		%p CONOCER EL INSPIRAGRAMA
		= link_to "Ver más", "#", class: "btn-conferences", "data-target" => ".bs-example-modal-lg", "data-toggle" => "modal"