.container-customers
	.container-clientes
		.text-cliente
			%center
				%p CLIENTES
		.text-body.hidden-xs
			%center
				%p Nuestra mejor carta de presentación es la satisfaccion y superacion de nuestros clientes.
		= image_tag "frontend/Icono_Cliente-02.png", class: "hidden-xs"

	.container-testimonios
		.text-testimonios
			%center
				%p TESTIMONIOS
		.text-body.hidden-xs
			%center
				%p Trabajamos para llevar experiencias y conferencias dignas de contar.
		= image_tag "frontend/Icono_Cliente-03.png", class: "hidden-xs"
		
.container-banner-motivador
