.footer-description
	%center
		%p Todos los derechos reservado - Gustavo Henao Speaker Internacional
.footer-description-slice
	%center
		%p POWERED BY
		= link_to "http://www.slicegroup.xyz" do
			= image_tag "frontend/logo-slice.png"