.container-video-bg
	= link_to '<i class="fa fa-play-circle"></i>'.html_safe, "#", class: "btn-play", id:"boton-play"
%video#video-henao.hidden-lg.hidden-md.hidden.sm.hidden.xs{:controls => "",:autoplay => "", :loop => ""}
	%source{:src => "//demosthenes.info/assets/videos/polina.webm", :type => "video/webm"}
	%source{:src => "//demosthenes.info/assets/videos/polina.mp4", :type => "video/mp4"}
   
