.fehler.fullHeight{:style => "height: 941px;"}
  #contentOne.content{:style => "margin-top: 363px;"}
    %h1 404
    .row
      .col-md-3
      .col-md-6.message
        %p.row
        .col-xs-4
          %i.fa.fa-exclamation-triangle.icon{"aria-hidden" => "true"}
        .col-xs-8.noCenter.text{style: "text-align: justify;"}
          Ooops! Ha ocurrido un error durante la transacción del pago. Por favor, dirijase nuevamente a nuestro catálogo de cursos.
          No ha sido descontando su dinero, ni fue exitosa la supscripción del curso.
        %a.btn.btn-success.pull-right{:href => "/cursos"}
          %i.fa.fa-credit-card
          Cursos
        %p
      .col-md-3

    #down.down{:style => "margin-top: 188.2px;"}
      %i.fa.fa-angle-down.bounce.animated{"aria-hidden" => "true"}

.show.fullHeight{:style => "height: 941px;"}
  #contentTwo.content{:style => "margin-top: 333px;"}
    .row
      .col-md-3
      .col-md-6.noCenter
        %h3 Folgende Verzeichnisse sind zu erreichen:
        %table.table.text
          %thead
            %tr
              %td Verzeichnis
              %td Öffnen
          %tbody
            %tr
              %td My Site 1
              %td
                %a{:href => "#", :target => "_blank"}
                  %i.fa.fa-external-link{"aria-hidden" => "true"}
            %tr
              %td Meine Seite 2
              %td
                %a{:href => "#", :target => "_blank"}
                  %i.fa.fa-external-link{"aria-hidden" => "true"}
            / MORE
      .col-md-3
/ jQuery (necessary for Bootstrap's JavaScript plugins)
%script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"}
/ Include all compiled plugins (below), or include individual files as needed
/ Latest compiled and minified JavaScript
%script{:crossorigin => "anonymous", :integrity => "sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", :src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"}
:javascript
  var WindowHeight = $(window).height();
  var contentOneHeight = $("#contentOne").height();
  var contentTwoHeight = $("#contentTwo").height();
  var distanceOne = WindowHeight-contentOneHeight;
  var distanceTwo = WindowHeight-contentTwoHeight;
  var marginOne = distanceOne/2;
  var marginTwo = distanceTwo/2;
  var down = WindowHeight/100*20;

  $(".fullHeight").css("height", WindowHeight);
  $("#contentOne").css("margin-top",marginOne);
  $("#contentTwo").css("margin-top",marginTwo);
  $("#down").css("margin-top", down);

  $("#down").click(function(){
  $('html, body').animate({ scrollTop: ($(".show").offset().top)}, 'slow');
  });
