#about{
	.container-about{
		.text-left{
			margin-top: 17%;
			margin-bottom: 12%;
			p{
				line-height: 8px;
				text-align: center;
			}
		}
		#negrita{
			font-weight: bold;
			
		}

		.text-right{
			margin-top: 8%;
			margin-bottom: 8%;
			padding: 0 120px 0 120px;

			p{
				line-height: 16px;
				text-align: justify;

			}
		}
	}
}

@media #{$phone} {
	#about{
		.container-about{
			.text-left{
				margin-top: 17%;
				margin-bottom: 12%;
			}

			.text-right{
				margin-top: 8%;
				margin-bottom: 8%;
				padding: 0 40px 0 40px;
			}
		}
	}
}

@media #{$phone-landscape} {
	#about{
		.container-about{
			.text-left{
				margin-top: 10%;
				margin-bottom: 10%;
			}

			.text-right{
				margin-top: 0px;
				margin-bottom: 8%;
				padding: 0 40px 0 40px;
			}
		}
	}
}