//Responsive design
$desktop-large: "(min-width:1600px)";
$desktop: "(min-width:992px)";
$tablet: "(min-width: 801px) and (max-width: 1280px) and (orientation: landscape)";
$tablet-portrait: "(min-width: 768px) and (max-width: 800px) and (orientation: portrait)";
$phone: "(max-width: 767px) and (orientation : portrait)";
$phone-small: "(max-width: 467px)";
$phone-landscape: "(max-width: 767px) and (orientation : landscape)";

//fuentes
$font-type: 'Lato', sans-serif;

//colores
$red-color: #F44336;


.slick-next{
  right: 10px;
}

.slick-prev {
  left: 10px;
  z-index: 100;
}

.banner-contact{
  width: 100%;
  height: 350px;
  background: image-url("frontend/Cartelera_Galeria.jpg") no-repeat;
  background-size: cover;
  margin-top: 60px;
  padding-top: 130px;
  padding-right: 25%;

  @media #{$phone-small}{
    height: 200px;
    margin-top: 50px;
    background-position: -200px;
    padding-top: 60px;
    padding-right: 5%;
  }

  @media #{$phone-landscape} {
    height: 200px;
    margin-top: 50px;
    background-position: -100px;
    padding-top: 60px;
    padding-right: 15%; 
  }

  @media #{$tablet-portrait} {
    height: 250px;
    margin-top: 60px;
    background-position: -100px;
    padding-top: 80px;
    padding-right: 15%;   
  }

  @media #{$tablet} {
    height: 250px;
    margin-top: 60px;
    padding-top: 80px;
    padding-right: 15%;   
  }   

  p{
    color: #fff;
    padding: 10px;
    font-size: 30px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    font-family: $font-type;

    @media #{$phone-small}{
      font-size: 15px;
    }

    @media #{$phone-landscape} {
      font-size: 22px;
    }

    @media #{$tablet-portrait} {
      font-size: 25px;
    }
  }
}

.input-inyx{
  margin-bottom: 10px;
}

.btn-contact{
  width: 100%;
  background: #65BEA4;
  color: #fff;
}

.help-inline{
  color: red;
}


@mixin phone-all {
  @media #{$phone} {
    @content
  }

  @media #{$phone-landscape} {
     @content
  }
}

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }

  #size-modal{
    width: 100%;
  }

// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
  
.form {
  @extend .col-md-6;
  }

.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }

.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral

.button-xs {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-xs;
}

/*
.container-video{
  i{
    position: fixed;
    font-size: 30px;
    color: #fff;
    z-index: 1000000;
    left: 50px;
    top: 20px;
    opacity: 0;
    text-decoration: none;
    


  }
  #myvideo-bg{
    left: 0;
    position: fixed;
    width: 100%;
    background: black;
    z-index: -10000;
    opacity: 0;
  }

}
*/

.banner-blog{
  background: image-url("frontend/Blog/Untitled-1.jpg") no-repeat;
  width: 100%;
  height: 350px;
  background-size: 100%;
  padding: 15% 42%;
  padding-bottom: 0px;
  margin-top: 60px;

  @media #{$phone} {
    height: 250px;
    margin-top: 50px;
    background-size: cover;
    background-position: -400px;
    padding: 35% 20%;
  }

  @media #{$phone-landscape} {
    height: 200px;
    background-size: cover;
    padding: 15% 20%;
    background-position: -100px;
  }

  @media #{$tablet-portrait} {
    height: 150px;
    margin-top: 60px;
    background-size: cover;
    background-position: -300px;
    padding: 20% 30%;
  }

  @media #{$tablet} {
    height: 150px;
    margin-top: 60px;
    background-size: cover;
    background-position: -450px;
    padding: 20% 30%;
  }


  .text-banner{
    border-top: 3px solid #0073B5;
    border-bottom: 3px solid #0073B5;
    color: #0073B5;
    margin-top: 0px;
    line-height: 25px;
    padding: 15px 0;
    font-family: $font-type;

    @media #{$tablet-portrait} {
      margin-top: 40px;
    }

    @media #{$tablet} {
      margin-top: 80px;
    }
  }
}

.blog{
  margin-top: 0px !important;
}

#keppler-blog{

  padding: 20px 60px;

   @media #{$phone} {
     padding: 20px;
   }

    h4{
      font-family: $font-type;
      font-weight: bold;
      margin-bottom: 25px;
    }
}

#navbar-categories {
  background: #00A09C !important;
}

.blog .posts-wrapper .post-attributes ul li i {
  color: #00A09C !important;
}

.blog .posts-wrapper .post-body .read-more a {
  border-color: #00A09C !important;
  color: #00A09C !important;

}