//Responsive design
$desktop-large: "(min-width:1600px)";
$desktop: "(min-width:992px)";
$tablet: "(min-width:768px)";
$tablet-landscape: "(min-width:768px) and (orientation : landscape)";
$phone: "(max-width: 767px) and (orientation : portrait)";
$phone-landscape: "(max-width: 767px) and (orientation : landscape)";

//fuentes
$font-type: 'Lato', sans-serif;

//colores
$red-color: #F44336;

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }

  #size-modal{
    width: 100%;
  }

// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
  
.form {
  @extend .col-md-6;
  }

.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }

.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral

.button-xs {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-xs;
}

/*
.container-video{
  i{
    position: fixed;
    font-size: 30px;
    color: #fff;
    z-index: 1000000;
    left: 50px;
    top: 20px;
    opacity: 0;
    text-decoration: none;
    


  }
  #myvideo-bg{
    left: 0;
    position: fixed;
    width: 100%;
    background: black;
    z-index: -10000;
    opacity: 0;
  }

}
*/

.banner-blog{
  background: image-url("frontend/Blog/Untitled-1.jpg") no-repeat;
  width: 100%;
  height: 350px;
  background-size: 100%;
}

#keppler-blog{
  margin-top: 10px;

    h4{
      font-family: $font-type;
      font-weight: bold;
      margin-bottom: 25px;
    }
}

#navbar-categories {
  background: #00A09C !important;
}

.blog .posts-wrapper .post-attributes ul li i {
  color: #00A09C !important;
}

.blog .posts-wrapper .post-body .read-more a {
  border-color: #00A09C !important;
  color: #00A09C !important;

}