@media #{$desktop} {
	.container-conferences{
		.container-text{
			p{
				border-top: 3px solid #00A19A;
				border-bottom: 3px solid #00A19A;
				margin: 0px 45%;
				margin-bottom: 40px;
				padding-top: 15px;
				padding-bottom: 15px;
				font-family: $font-type;
				font-weight: bold;
				font-size: 16px;
			}
		}
	}

	.container-banner-inspiragrama{
		width: 100%;
		height: 225px;
		background: image-url("frontend/Banner_Inspiragrama.jpg") no-repeat;
		background-size: 100%;

		.text{
			padding-top: 55px;
			position: relative;
			left: -120px;

			p{
				
				border-top: 3px solid #fff;
				border-bottom: 3px solid #fff;
				margin: 0 43%;
				padding-top: 15px;
				padding-bottom: 15px;
				font-family: $font-type;
				text-align: center;
				font-weight: bold;
				color: #fff;
				font-size: 20px;
			}

			.btn-conferences {
				position: relative;
				font-size: 14px;
				text-decoration: none;
				color: white;
				margin-left: 43%;
				top: 20px;
				padding: 10px 70px;
				background: #0069AF;
			}
		}
	}
}

@media #{$phone} {
	.container-conferences{
		.container-text{
			p{
				border-top: 3px solid #00A19A;
				border-bottom: 3px solid #00A19A;
				margin: 0px 25%;
				margin-bottom: 40px;
				padding-top: 15px;
				padding-bottom: 15px;
				font-family: $font-type;
				font-weight: bold;
				font-size: 16px;
			}
		}
	}

	.container-banner-inspiragrama{
		width: 100%;
		height: 150px;
		background: image-url("frontend/Banner_Inspiragrama.jpg") no-repeat;
		background-size: 135% 100%;

		.text{
			padding-top: 25px;
			position: relative;
			left: -60px;

			p{
				
				border-top: 3px solid #fff;
				border-bottom: 3px solid #fff;
				margin: 0 25%;
				padding-top: 8px;
				padding-bottom: 8px;
				font-family: $font-type;
				text-align: center;
				font-weight: bold;
				color: #fff;
				font-size: 15px;
			}

			.btn-conferences {
				position: relative;
				font-size: 14px;
				text-decoration: none;
				color: white;
				margin-left: 23%;
				top: 20px;
				padding: 10px 70px;
				background: #0069AF;
			}
		}
	}
}

@media #{$phone-landscape} {
	.container-conferences{
		.container-text{
			p{
				border-top: 3px solid #00A19A;
				border-bottom: 3px solid #00A19A;
				margin: 0px 35%;
				margin-bottom: 40px;
				padding-top: 15px;
				padding-bottom: 15px;
				font-family: $font-type;
				font-weight: bold;
				font-size: 16px;
			}
		}
	}

	.container-banner-inspiragrama{
		width: 100%;
		height: 150px;
		background: image-url("frontend/Banner_Inspiragrama.jpg") no-repeat;
		background-size: 135% 100%;

		.text{
			padding-top: 25px;
			position: relative;
			left: -60px;

			p{
				
				border-top: 3px solid #fff;
				border-bottom: 3px solid #fff;
				margin: 0 30%;
				padding-top: 8px;
				padding-bottom: 8px;
				font-family: $font-type;
				text-align: center;
				font-weight: bold;
				color: #fff;
				font-size: 15px;
			}

			.btn-conferences {
				position: relative;
				font-size: 14px;
				text-decoration: none;
				color: white;
				margin-left: 35%;
				top: 20px;
				padding: 10px 70px;
				background: #0069AF;
			}
		}
	}
}