
.container-contacts{
	padding: 40px 0px 70px 0px;

	@media #{$phone} {
		padding: 40px 0px;
	}

	@media #{$phone-landscape} {
		padding: 15px 0px 70px 0px;
	}

	@media #{$tablet-portrait} {
		padding: 20px 0px 70px 0px;
	}

	@media #{$tablet} {
		padding: 10px 0px 70px 0px;
	}

	p{
		display: inline-block;
		background: #015DA7;
		color: #fff;
		padding: 10px;
		cursor: pointer;
	}

	i{
		position: relative;
		top: 2px;
		padding: 10px;
		
		display: inline-block;
		color: #FFF;
		font-size: 20px;
		margin-right: 10px;
		cursor: pointer;

		@media #{$phone} {
			margin-bottom: 15px;
		}


	}

	#twitter{
		margin-left: 10px;
		background: #00ADE4;

	}

	#instagram{
		background: #0081A9;
	}

	#facebook{
		padding-left: 13px;
		padding-right: 13px;
		background: #005AA3;
	}
}


