#customers{
	.container-customers{
		position: relative;
		background: #DBDADF;
		width: 100%;
		padding: 100px 120px 80px 280px;

		@media #{$phone} {
			padding: 140px 20px 80px 20px;
		}

		@media #{$phone-landscape} {
			padding: 170px 20px 80px 20px;
		}

		@media #{$tablet-portrait} {
			padding: 100px 30px 80px 190px;
		}

		.container-clientes{
			position: relative;
			background: #fff;
			width: 100%;
			height: 200px;

			.multiple-items{
				position:relative;
				top: -160px;
				left: 35%;
				width: 60%;

				@media #{$phone-small}{
					width: 95% !important;
					top: -20px;
					left: 5% !important;
					overflow: hidden;
				}

				@media #{$phone} {
					width: 85%;
					top: -20px;
					left: 9%;
					overflow: hidden;
				}

				@media #{$phone-landscape} {
					width: 95%;
					top: -30px;
					left: 5%;
					overflow: hidden;
				}

				@media #{$tablet-portrait} {
					width: 95%;
					top: -30px;
					left: 5%;
					overflow: hidden;
				}

				@media #{$tablet} {
					width: 85%;
					top: -30px;
					left: 8%;
					overflow: hidden;
				}

				img{
					height: 120px;
					margin-right: 30px;	

					@media #{$phone} {
						height: 80px;
					}
				}
			}

			.btn-clientes{
				position: relative;
				top: -65px ;
				left: -50.2%;

				@include phone-all{
					top: -133px;
					left: -50.2%;
				}

				@media #{$tablet-portrait} {
					display: none;
				}

				@media #{$tablet} {
					display: none;
				}
			}

			.text-cliente{
				position: relative;
				width: 160px;
				height: 70px;
				background: #00A19A;
				padding-top: 25px;
				top: 70px;
				left: -160px;

				@include phone-all{
					width: 100%;
					top: -70px;
					left: 0px;
				}

				p{
					position: relative;
					left: -5px;
					font-family: $font-type;
					color: #fff;

					@include phone-all{
						left: 0px;
					}
				}
			}

			.text-body{
				position: relative;
				padding-left: 10px;
				padding-top: 5px;
				width: 280px;
				height: 70px;
				background: #fff;
				top: 0px;
				border-top: 2px solid #00A19A;
				border-bottom: 2px solid #00A19A;
				border-right: 2px solid #00A19A;

				@include phone-all{
					top: -70px;
				}

				@media #{$tablet-portrait} {
					display: none;
				}

				@media #{$tablet} {
					display: none;
				}

				p{
					padding-left: 10px;
					font-family: $font-type;
					font-size: 13px;
				}
			}
		}

		.container-testimonios{
			position: relative;
			background: #fff;
			width: 100%;
			height: 200px;
			margin-top: 30px;

			@include phone-all{
				margin-top: 90px;	
			}

			.btn-testimonios{
				position: relative;
				top: -65px;
				left: -50.2%;

				@media #{$tablet-portrait} {
					display: none;
				}

				@media #{$tablet} {
					display: none;
				}
			}

			.text-testimonios{
				position: relative;
				width: 160px;
				height: 70px;
				background: #00A19A;
				padding-top: 25px;
				top: 70px;
				left: -160px;

				@include phone-all{
					width: 100%;
					top: -70px;
					left: 0px;
				}

				p{
					position: relative;
					left: -10px;
					font-family: $font-type;
					color: #fff;

					@include phone-all{
						left: 0px;
					}	
				}
			}

			.text-body{
				position: relative;
				padding-left: 10px;
				padding-top: 10px;
				width: 260px;
				height: 70px;
				background: #fff;
				top: 0px;
				border-top: 2px solid #00A19A;
				border-bottom: 2px solid #00A19A;
				border-right: 2px solid #00A19A;

				@include phone-all{
					top: 200px;
					width: 100%;
				}

				@media #{$tablet-portrait} {
					display: none;
				}

				@media #{$tablet} {
					display: none;
				}

				p{
					font-family: $font-type;
					font-size: 13px;
				}
			}

			.carrusel-testimonios{
				position:relative;
				top: -210px;
				left: 28%;
				height: 160px !important;
				width: 69%;

				@include phone-all{
					width: 100%;
					padding: 0 20px;
					top: -160px;
					left: 0%;
				}

				@media #{$tablet-portrait} {
					width: 100%;
					padding: 0 20px;
					top: -100px;
					left: 0%;	
				}

				@media #{$tablet} {
					width: 100%;
					padding: 0 20px;
					top: -90px;
					left: 0%;	
				}

				.container-testimonios{
					height: 160px;

					@media #{$phone} {
						height: 185px;
					}

					@media #{$phone-landscape} {
						height: 195px;
					}

					@media #{$tablet-portrait} {
						height: 190px;
					}

					@media #{$tablet} {
						height: 185px;	
					}

			

					img{
						margin-top: 20px;
						height: 120px;

						@media #{$phone} {
							height: 50px;
						}

						@media #{$phone-landscape} {
							height: 80px;
						}

						@media #{$tablet-portrait} {
							height: 80px;
						}

						@media #{$tablet} {
							height: 50px;
						}
					}
				}
			}
		}
	}

	.container-banner-motivador{
		width: 100%;
		height: 225px;
		background: image-url("frontend/Banner_MasQunMotivador.jpg") no-repeat;
		background-size: 100%;

		@media #{$phone} {
			height: 180px;
			background-size: cover;
			background-position: -320px;
		}

		@media #{$phone-landscape} {
			height: 150px;
			background-size: cover;
			background-position: -150px;
		}

		@media #{$tablet-portrait} {
			background-size: cover;
			background-position: -200px;
		}

		@media #{$tablet} {
			background-size: cover;
			background-position-x: 50%;
		}

		.text-motivador{
			position: relative;
			color: #fff;
			line-height: 17px;
			font-family: $font-type;
			font-size: 22px;
			top: 80px;
			padding-left: 50%;

			@media #{$phone} {
				font-size: 19px;
				top: 50px;
				padding-left: 30%;
			}

			@media #{$phone-landscape} {
				top: 40px;
			}

			@media #{$tablet-portrait} {
				top: 40px;
			}

			@media #{$tablet} {
				top: 40px;
			}
		}

		#bold{
			font-weight: bold;
		}
	}
}
