// Place all the styles related to the frontend controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html, body, main{
	height: 100%;
}

.front{
	height: 100%;
	.front-container{
		height: 100%;
		.front-logo-horizontal{
			display: flex;
			justify-content: center;
			height: 100%;
			.front-logo-vertical{
				display: flex;
				flex-direction: column;
				justify-content: center;
			}
		}
	}
}