.alert{
	width: 30%;
	top: 90px;
  right: 35%;
  position: absolute;
}

.banner-gallery{
	width: 100%;
	height: 350px;
	background: image-url("frontend/Cartelera_Galeria.jpg") no-repeat;
	background-size: cover;
	margin-top: 60px;
	padding-top: 130px;
	padding-right: 25%;

	@media #{$phone-small}{
		height: 200px;
		margin-top: 50px;
		background-position: -200px;
		padding-top: 50px;
		padding-right: 5%;
	}

	@media #{$phone-landscape} {
		height: 200px;
		margin-top: 50px;
		background-position: -100px;
		padding-top: 60px;
		padding-right: 15%;	
	}

	@media #{$tablet-portrait} {
		height: 250px;
		margin-top: 50px;
		background-position: -100px;
		padding-top: 80px;
		padding-right: 15%;		
	}

	@media #{$tablet} {
		height: 250px;
		margin-top: 60px;
		padding-top: 80px;
		padding-right: 15%;		
	}		

	p{
		color: #fff;
		padding: 10px;
		font-size: 30px;
		border-top: 2px solid #fff;
		border-bottom: 2px solid #fff;
		font-family: $font-type;

		@media #{$phone-small}{
			font-size: 18px;
		}

		@media #{$phone-landscape} {
			font-size: 22px;
		}

		@media #{$tablet-portrait} {
			font-size: 25px;
		}
	}
}

.container-textos{
	h4{
		margin-top: 25px;
		font-family: $font-type;
	}

	#bold{
		font-weight: bold;
	}
}

#dash-nav{
	margin-top: 50px;
	margin-bottom: 50px;
	padding-left: 20%;
	padding-right: 20%;

	@media #{$phone-small}{
		margin-top: 30px;
		margin-bottom: 0px;
	}

	@media #{$phone-landscape} {
		margin-top: 30px;
		margin-bottom: 0px;
	}

	@media #{$tablet-portrait} {
		margin-top: 30px;
		margin-bottom: 0px;
	}

	@media #{$tablet} {
		margin-top: 30px;
		margin-bottom: 0px;
	}


	li{
		a{
			margin-right: 15px;
			background: #fff;
			border: 2px solid rgb(101, 190, 164);
			color: #00A09C;
			font-weight: bold;

			@media #{$phone-small}{
				margin-right: 0px;
			}	
		}
	}

	.active{
		a{
			background: rgb(101, 190, 164);
			color: #fff;	
		}
	}
}

.container-images{
	padding: 30px 15%;

	.container-video{

		img{
			padding-right: 10px;
			margin-bottom: 10px;

			@media #{$phone-small}{
				padding-right: 0px;
			}

		}

		iframe{
			margin-bottom: 10px;
			
			@media #{$phone-landscape} {
				width: 100%;
				height: 200px;
			}

			@media #{$tablet-portrait} {
				width: 100%;
				height: 300px;
			}

			@media #{$tablet} {
				width: 99%;
				height: 200px;
				margin-right: 10px;
			}
		}
	}
}

#mailchip{
	.flotante {
		width: 120px;
		height: 30px;
		padding-top: 5px;
		border-radius: 5px 5px 0px 0px;
		text-decoration: none;
		text-align: center;
		color: #fff;
		font-size: 16px;
		background: rgb(101, 190, 164);
		display:scroll;
		position:fixed;
		bottom: 0px;
		right:0px;
	}
}

#btn-mail{
	background: rgb(101, 190, 164);
	color: #fff;
	width: 40%;
	margin-top: 10px;
	margin-bottom: 10px;
}

#newsletter_email{
	width: 70%;
	margin-top: 10px;
}