#front-navbar{ 
	font-weight: bold;
	font-size: 14px;
	background-color: #1C1C1C;
	border-radius: 0px;
	border: none;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.17);


/*el siguiente id centra los iconos*/
	.center{
		margin: 0em 29%;

		@media #{$tablet-portrait} {
			margin: 0em 18%;
		}

		@media #{$tablet} {
			margin: 0;
		}
	}

	.navbar-nav{
		width: 100%;

		@media #{$desktop} {
			position: relative;
			top: 8px;
		}

		@media #{$tablet} {
			position: relative;
		}

		li{
			display: inline-block;
			margin-right: 25px;
			padding-bottom: 4px;

			a{
				margin-left: 0;
			}
		}

		li:hover{
			background-color: #66BAA3;

			.icon1{
				background: image-url("frontend/NavBar/NavBar_Iconos_Home_Hover.png") no-repeat;
			}

			.icon2{
				background: image-url("frontend/NavBar/NavBar_Iconos_QuienEs_Hover.png") no-repeat;
			}

			.icon3{
				background: image-url("frontend/NavBar/NavBar_Iconos_Conferencias_Hover.png") no-repeat;
			}

			.icon4{
				background: image-url("frontend/NavBar/NavBar_Iconos_Clientes_Hover.png") no-repeat;
			}

			.icon5{
				background: image-url("frontend/NavBar/NavBar_Iconos_Blog_Hover.png") no-repeat;
			}

			.icon6{
				background: image-url("frontend/NavBar/NavBar_Iconos_Galeria_Hover.png") no-repeat;
			}

			.icon7{
				background: image-url("frontend/NavBar/NavBar_Iconos_Contacto_Hover.png") no-repeat;
			}
		}
	}

	@each $iconos in icon1, icon2, icon3, icon4, icon5, icon6, icon7 {
		.#{$iconos}{
			width: 31px;
			height: 31px;
			background-position: center;
			background: image-url("frontend/NavBar/NavBar_Iconos_#{$iconos}.png") no-repeat;
		}
	}

	.current {

		@media #{$tablet-portrait} {
			border-bottom: 3px solid rgb(101, 190, 164);
		}

		@media #{$desktop-large} {
			border-bottom: 3px solid rgb(101, 190, 164);
		}

		@media #{$desktop} {
			border-bottom: 3px solid rgb(101, 190, 164);
		}
		
	}
}

@media #{$phone} {
	#front-navbar{ 
		margin: 0px !important;
		#center{
			margin: 0px;
		}
		.navbar-nav{
			li{
				
				a{
					border: 0px;
				}
			}
		}	
	}
}

@media #{$tablet-portrait} {
	#front-navbar{ 
		margin: 0px !important;
		#center{
			margin: 0px;
		}
		.navbar-nav{
			li{
				
				a{
					border: 0px;
					color: #fff;
				}
			}
		}	
	}
}

@media #{$phone-landscape} {
	#front-navbar{
		margin: 0px !important;
		#center{
			margin: 0px;
		}
		.navbar-nav{
			li{
				a{
					border: 0px
				}
			}
		}	
	}
}