
#video-full{
	.container-video-bg{
		width: 100%;
		height: 450px;
		background: image-url("frontend/Cartelera_Galeria.jpg") no-repeat;

		@media #{$desktop-large} {
			
			background-size: 100%;
		}

		@media #{$phone} {
			height: 200px;
			background-size: cover;
		}

		@media #{$phone-landscape} {
			height: 200px;
			background-size: cover;
		}

		@media #{$tablet-portrait} {
			background-size: cover;
		}

		.btn-play{
			cursor: pointer;
			display: inline-block;
			font-size: 40px;
			border: 0px outset buttonface;
			height: 80px;
			border-radius: 5px;
			border-color: #fff;
			background: rgba(255, 255, 255, 0.60);
			position: relative;
			margin-top: 180px;
			width: 100px;

			@media #{$phone-small}{
				width: 70px;
				height: 50px;
				font-size: 30px;
				margin-top: 20% !important;
			}

			@media #{$phone} {
				width: 70px;
				height: 50px;
				font-size: 30px;
				margin-top: 15%;
			}

			@media #{$phone-landscape} {
				width: 80px;
				height: 60px;
				font-size: 30px;
				margin-top: 11%;
			}

			@media #{$tablet-portrait} {
				height: 120px;
				font-size: 120px;
				left: 43% !important;
				margin-top: 38%;
			}

			@media #{$tablet} {
				height: 120px;
				font-size: 120px;
				left: 47%;
				margin-top: 39%;
			}
		}
	}
}

